[submodule "deps/firment"]
	path = deps/firment
	url = https://github.com/mthielvoldt/firment.git
[submodule "deps/wolfBoot"]
	path = deps/wolfBoot
	url = https://github.com/wolfSSL/wolfBoot.git
[submodule "deps/mtb-xmclib-cat3"]
	path = deps/mtb-xmclib-cat3
	url = https://github.com/Infineon/mtb-xmclib-cat3.git
